/* Import Montserrat font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS variables */
:root {
  --website-width: 1140px;
  --body-background-color: #F5F5F5;
  --text-color: #ffffff;
  --text-overlay-color: rgba(12, 92, 43, 0.9);
  --header-background-color: #002400;
  --primary-color: #273b09;
  --secondary-color: #58641d;
  --primary-shadow-color: rgba(255, 255, 255, 0.5);
  --secondary-shadow-color: rgba(0, 0, 0, 0.2);
  --contact-color: #dbd2e0;
  --hover-color: #dbd2e0;
}

/* Reset default browser styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--body-background-color);
}

.container {
  width: 100%;
  max-width: var(--website-width);
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h1 {
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
}

h2 {
  margin: 2rem 0 2.5rem 0;
  text-decoration: underline;
  text-align: center;
}

h3 {
  text-decoration: underline;
  margin-top: 2rem;
  text-align: center;
}

h4 {
  margin: 1rem 0 0.5rem 0;
}

p {
  margin-bottom: 1rem;
  text-align: justify;
  text-indent: 1rem;
}

section {
  scroll-margin-top: 76px;
  padding: 1rem;
}

.external-link {
  color: var(--text-color);
  font-weight: bold;
}

.external-link:hover {
  color: var(--hover-color);
}

.mention {
  font-size: 0.75rem;
}

/* Main navigation elements */
header {
  background-color: var(--header-background-color);
  box-shadow: 0 2px 4px var(--primary-shadow-color), 0 8px 8px var(--secondary-shadow-color);
  padding: 1rem;
  position: fixed;
  width: 100%;
  max-width: var(--website-width);
  z-index: 99;
}

#navbar {
  display: flex;
  justify-content: space-between;
}

#logo {
  font-size: 1.5rem;
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.logo-icon {
  font-size: 2rem;
  transition: transform 0.3s ease-in-out;
}

.nav-toggler {
  color: var(--text-color);
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 1.25rem;
  right: 1rem;
}

nav a {
  color: var(--text-color);
  font-size: 1.5rem;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 0.5rem;
}

nav li {
  list-style: none;
  margin: 0.5rem 0 1rem 0;
  text-align: center;
}

/* Hero section */
#hero {
  background: url("../images/hero.webp") no-repeat center/cover;
  width: 100%;
  min-height: 12rem;
  padding: 0;
  margin-top: 62px;
  position: relative;
}

.text-overlay {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  width: auto;
  background: var(--text-overlay-color);
  color: var(--text-color);
  padding: 0.5rem;
  text-align: right;
  letter-spacing: 2px;
}

/* About section */
#about {
  background-color: var(--primary-color);
  width: 100%;
  color: var(--text-color);
}

#about img {
  width: 100%;
}

#about figure {
  max-width: 350px;
  margin: 0 auto;
}

#about figcaption {
  text-align: center;
  font-style: italic;
}

#about .content-container {
  margin-bottom: 2rem;
}

/* Membership */
#membership {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

#membership li {
  margin-left: 2rem;
  margin-bottom: 0.25rem;
  letter-spacing: 1px;
}

.guest-ticket-description {
  margin-top: 0.5rem;
}

#membership hr {
  margin-top: 2rem;
  height: 2px;
  background-color: var(--primary-color);
}

#membership .mention {
  margin-top: 2rem;
}

/* Gallery section */
#gallery {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.gallery-container {
  margin-bottom: 2rem;
}

.gallery-media {
  max-width: fit-content;
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
  margin: 0 auto;
  padding: 0 1rem;
  transform: translateX(-23px);
}

.arrow-img {
  max-width: 16px;
}

video,
.gallery_img {
  width: 100%;
  max-width: 450px;
  margin-top: 1.5rem;
}

blockquote {
  font-size: 1rem;
  padding: 1rem;
  margin: 1.5rem 0 0.5rem 0;
  border: 2px solid var(--secondary-color);
  border-radius: 2rem;
}

blockquote footer {
  text-align: right;
  margin-right: 2rem;
  font-style: italic;
}

.side-content {
  max-width: 650px;
  margin: 0 auto;
  padding: 1.5rem 0;
  text-align: center;
}

/* Contact section */
#contact {
  background-color: var(--contact-color);
}

form {
  max-width: 450px;
  margin: 2rem auto
}

fieldset {
  margin: 2rem 0 1rem;
  border-radius: 1rem;
  padding: 1rem;
}

fieldset .input-wrapper:first-of-type {
  margin-bottom: 0.5rem;
}

legend {
  padding: 0 1rem;
}

label {
  color: var(--primary-color);
}

input,
textarea {
  width: 100%;
  background-color: var(--body-background-color);
  margin-top: 0.25rem;
  padding: 0.5rem;
  letter-spacing: 1px;
  border-radius: 0.5rem;
  outline: none;
  border-width: 1px;
}

textarea {
  resize: vertical;
}

#contact .mention {
  margin: 1rem 0;
}

input[type="submit"] {
  max-width: 150px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

input[type="submit"]:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

address {
  max-width: fit-content;
  margin: 1rem auto 0;

}

address hr {
  margin: 0.5rem 0;
}

/* Footer */
#footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
}

footer span {
  font-weight: bold;
  text-decoration: underline;
  margin: 0;
}

footer p {
  font-size: 0.75rem;
  text-indent: 0;
  margin: 0;
}

.icons-group {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icons-group a {
  color: var(--text-color);
  font-size: 1.5rem;
}

.icons-group a:hover {
  color: var(--hover-color);
}

/* Media query: smartphones (576px and up) */
@media screen and (min-width: 576px) {

  /* Gallery section */
  .arrow-img {
    max-width: none;
  }

  .gallery-media {
    gap: 0.5rem;
  }

  /* Contact section */
  fieldset {
    padding: 1.5rem;
  }

  fieldset .input-wrapper:first-of-type {
    margin-bottom: 1rem;
  }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

  /* General styles */
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
  }

  p {
    font-size: 1.5rem;
    text-indent: 1.5rem;
  }

  section {
    padding: 1rem 2rem;
  }

  /* Main navigation elements */
  #logo {
    margin-left: 1rem;
  }

  .nav-toggler {
    display: none;
  }

  #navbar {
    flex-direction: row;
    gap: 2rem;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin: 0.5rem;
  }

  /* Hero section */
  #hero {
    min-height: 30rem;
  }

  .text-overlay {
    width: max-content;
    padding: 1rem 2rem;
    bottom: 2rem;
    right: 2rem;
  }

  .text-overlay p {
    font-weight: bold;
  }

  /* About section */

  #about>div {
    display: flex;
    gap: 4rem;
    margin: 5rem 1rem 2rem;
  }

  #about img {
    max-height: 600px;
  }

  #about .content-container {
    flex: 2;
  }

  #about figure {
    flex: 1;
  }

  #about figure {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-end;
  }

  /* Membership */
  #membership>article>p {
    margin: 4rem 0 2rem 0;
  }

  .membership-category p {
    font-size: 1rem;
    margin-left: 0;
    margin-top: 1rem;
    text-indent: 0;
  }

  .membership-wrapper {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .membership-category {
    padding: 0 2rem 2rem 2rem;
    border: 2px solid var(--primary-color);
    border-radius: 2rem;
    transition: transform 0.3s ease-in-out;
  }

  .membership-category:hover {
    transform: scale(1.05);
  }

  #membership hr {
    display: none;
  }

  /* Gallery section */
  .gallery-container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .gallery-content {
    align-self: center;
  }

  blockquote {
    font-size: 1rem;
    margin-bottom: 0;
  }

  blockquote p {
    font-size: 1.25rem;
  }

  blockquote footer {
    text-align: right;
    margin-right: 2rem;
    font-style: italic;
  }

  .gallery-media {
    max-width: 450px;
    padding: 0;
  }

  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .gallery-content,
  .gallery-media {
    flex: 1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .gallery-content.animate {
    animation: slideInLeft 0.5s ease-in-out forwards;
  }

  .gallery-media.animate {
    animation: slideInRight 0.5s ease-in-out forwards;
  }

  /* reverse every second gallery group and animation orientation */
  .gallery-container:nth-child(2) {
    flex-direction: row-reverse;
  }

  .gallery-container:nth-child(2) .gallery-content.animate {
    animation: slideInRight 0.5s ease-in-out forwards;
  }

  .gallery-container:nth-child(2) .gallery-media.animate {
    animation: slideInLeft 0.5s ease-in-out forwards;
  }

  /*  */

  .arrow-img {
    display: none;
  }

  /* Contact section */
  #contact h3 {
    margin-top: 3rem;
  }

  address {
    font-size: 1.25rem;
    margin: 2rem auto 0;
  }

  address .mention {
    font-size: 1rem;
  }

  /* Footer */
  #footer {
    padding: 1rem 2rem;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #footer h5 {
    font-size: 1rem;
  }
}