/* Import Roboto font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

/* Reset default browser styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
}

.container {
  width: 100%;
  max-width: 1140px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h1 {
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
}

/* Main navigation elements */
header{
  background-color: #002400;
  padding: 1rem;
}

/* Main navigation elements */

#navbar {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  position: relative;
}

#logo {
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

#logo i {
  font-size: 2rem;
}

.nav-toggler {
  color: #ffffff;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0.5rem;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  line-height: 1.5rem;
  letter-spacing: 2px;
  padding: 0.5rem;
}

nav a:hover {
  text-decoration: underline;
}

nav li {
  list-style: none;
  margin: 0.5rem;
  text-align: center;
}

/* Hero section */
#hero {
  background: url("../images/hero.jpg") no-repeat center/cover;
  width: 100%;
  min-height: 12rem;
  padding: 0;
  position: relative;
}

.text-overlay {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  width: auto;
  background: rgba(12, 92, 43, 0.9);
  color: #ffffff;
  padding: 0.5rem;
  text-align: right;
  letter-spacing: 2px;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
  /* General styles */
  h1 {
    font-size: 1.8rem;
  }

  /* Main navigation elements */
  #logo {
    margin-left: 1rem;
  }

  .nav-toggler {
    display: none;
  }

  #navbar {
    flex-direction: row;
  }

  nav ul {
    display: flex;
    gap: 1rem;
  }

  /* Hero section */
  #hero {
    min-height: 30rem;
  }

  .text-overlay {
    width: 80%;
    max-width: 500px;
    padding: 1rem;
  }

  .text-overlay p {
    font-weight: bold;
  }
}